:root {
  --White: rgba(255, 255, 255, 1);
  --Black: rgba(0, 0, 0, 1);
  --Blue: rgba(0, 0, 255, 1);
  --Magenta: rgba(255, 0, 255, 1);
}

body {
  background: var(--Blue);
  font-size: 20px;
  font-family: 'Syne', sans-serif;
  padding: 50px;
  image-rendering: pixelated;
}

.btn-primary {
  background-color: var(--Blue);
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: -100;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: -100;
      opacity: 1;
    }
  }